<% include ../partials/top.ejs %>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 70px;">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/">Account details <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul id="tags" class="nav nav-sidebar">
                <li><a href="/items">List items</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Account details</h1>

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Variable</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (x in user) { %>
                    <tr>
                        <td><%= x %></td>
                        <td><%= user[x] %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <h2>Categories</h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Category</td>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>

            <p><pre><%= category_counts %></pre></p>

            <h2>Active tasks (<%= tasks.length %>)</h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Queued on</td>
                        <td>Status</td>
                        <td>Queue</td>
                    </tr>
                </thead>
                <tbody>
                    <% tasks.forEach(function(task) { %>
                        <tr>
                            <td><%= task.name %></td>
                            <td><%= task.enqueued %></td>
                            <td><%= task.status %></td>
                            <td><%= task.queue %></td>
                        </tr>
                    <% }); %>
                    <% if(tasks.length == 0) { %>
                        <tr><td colspan="4">
                            <em>No tasks found.</em>
                        </td></tr>
                    <% } %>
                </tbody>
            </table>    
        </div>
    </div>
</div>

<% include ../partials/bottom.ejs %>
